.repo-links {
    border-bottom: 2px solid black;
    border-radius: 10px 10px;
    display: inline-table; 
    padding: .9%; 
    margin: 10px; 
    font-size: large;
    box-shadow: 5px 5px 5px steelblue;
    list-style: none;
    width: 13%; 
    background: linear-gradient(to right, steelblue 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
 }

p{
  font-size: 17px; 
 }

 #desc{
  line-height: .5px; 
 }

 .repo-links:hover {
   border-bottom: 2px solid orangered;
 }


 .repo-links:hover {
   background-position: left bottom;
 }

 #lc-logo {
  width: 147px; 
  height: 200px;
  float: right;
 }
 
 .text {
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   line-height: 30px; 
   color: steelblue;
   transition: all .6s ease-out;
   display: block;
 }
 
 .text:hover {
   color: white;  
   /* font-size: 20px; */
 }

 button {
  font-family: co;
  background-color: #1f883d;
  color: white;
  border-radius: 5px;
  font-weight: bold;
 }